<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../static/style.css">

</head>
<body>

<div class="container text-center jumbotron ">
    <div class="row col-md- 12">
        <h1 >G6 VIDEO STORE</h1>
    </div>
</div>

<div class="container col-md-6">
    <h3 class="text-center">Försenade Filmer</h3>
    <hr class="my-4">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Kundnummer</th>
            <th scope="col">Namn</th>
            <th scope="col">Telefonnummer</th>
            <th scope="col">Filmer</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark Otto</td>
            <td>0760000000</td>
            <td>Star Wars - A new hope</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob Thornton</td>
            <td>0760000000</td>
            <td>Star Wars - The empire strikes back</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>0760000000</td>
            <td>Star Wars - The empire strikes back, Star Wars - The empire strikes back</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container text-center buttonGroupContainer col-md-6">
    <div class="row col-md-12">

        <hr class="my-4">

        <button type="button" class="btn btn-primary btn-lg customButton ">Hyr ut filmer</button>
        <button type="button" class="btn btn-primary btn-lg customButton">Returnera filmer</button>
        <button type="button" class="btn btn-primary btn-lg customButton">Lägg till kund</button>

        <hr class="my-4">

        <button type="button" class="btn btn-primary btn-lg customButton">Kunder</button>
        <button type="button" class="btn btn-primary btn-lg customButton">Filmer</button>
        <button type="button" class="btn btn-primary btn-lg customButton">Uthyrda filmer</button>

        <hr class="my-4">

        <button type="button" class="btn btn-danger btn-lg btn-block">Logga ut</button>

        <hr class="my-4">

    </div>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

</body>
</html>