<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/layoutfragments :: head"></head>
<body>
<div th:replace="layouts/layoutfragments :: navbar"></div>

<div class="container">
    <div class="row mt-5">
        <div class=" col-md-6">
            <table class="table table-striped">
                <thead class="thead-dark">
                <h3>Försenade filmer</h3>
                <tr>
                    <th scope="col">Kundnummer</th>
                    <th scope="col">Namn</th>
                    <th scope="col">Telefonnummer</th>
                    <th scope="col">Filmer</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark Otto</td>
                    <td>0760000000</td>
                    <td>Star Wars - A new hope</td>
                </tr>

                <tr>
                    <th scope="row">2</th>
                    <td>Jacob Thornton</td>
                    <td>0760000000</td>
                    <td>Star Wars - The empire strikes back</td>
                </tr>

                <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td>0760000000</td>
                    <td>Star Wars - The empire strikes back, Star Wars - The empire strikes back</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class=" col-md-6 text-center mt-3">
            <hr class="my-4">

            <a href="#" th:href="@{/movies/addmovie}" class="btn btn-primary btn-block btn-lg">Lägg till filmer</a>

            <hr class="my-4">

            <a href="#" th:href="@{/movies}" class="btn btn-primary btn-lg customButton">Hyr ut filmer</a>
            <a href="#" th:href="@{/movies}" class="btn btn-primary btn-lg customButton">Returnera film</a>
            <a href="#" th:href="@{/movies}" class="btn btn-primary btn-lg customButton">Lägg till kund</a>

            <hr class="my-4">

            <a href="#" th:href="@{/customer/customers}" class="btn btn-primary btn-lg customButton">Kunder</a>
            <a href="#" th:href="@{/movies}" class="btn btn-primary btn-lg customButton">Filmer</a>
            <a href="#" th:href="@{/movies}" class="btn btn-primary btn-lg customButton">Uthyrda filmer</a>

            <hr class="my-4">

            <a href="#" th:href="@{/movies}" class="btn btn-danger btn-block btn-lg">Logga ut</a>
        </div>
    </div>

</div>
<div th:replace="layouts/layoutfragments :: javascriptimports"></div>
</body>
</html>
