<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title th:text="${movieToEdit.name} + ' | Redigera'">Redigera Film Info</title>
</head>
<body>
<div class="container">
    <div class="col-md-6 ml-auto mr-auto mt-5">
        <form th:action="@{/movies/movie/__${movieToEdit.productNumber}__/edit}" th:object="${movieToEdit}" method="post" class="form-group">
            <a th:href="@{/movies}" class="btn btn-primary col-md-2 float-right mb-2 ml-2">Tillbaka till filmer</a>
            <input type="text" class="form-control" name="name" id="name" th:value="*{name}" th:required="required"/>
            <textarea class="form-control mt-2" name="description" id="description" rows="5" th:text="*{description}" th:required="required"></textarea>
            <input type="text" class="form-control mt-2" name="category" id="category" th:value="*{category}" th:required="required"/>
            <input type="text" class="form-control mt-2" name="releaseYear" id="release_year" th:value="*{releaseYear}" th:required="required"/>
            <input type="text" class="form-control mt-2" name="format" id="format" th:value="*{format}" th:required="required"/>
            <a th:href="@{/movies/movie/__*{productNumber}__/delete}" class="btn btn-danger col-md-3 float-right mt-2 ml-2">Radera Film</a>
            <button type="submit" class="btn btn-success col-md-2 mt-2 float-right">Spara</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script th:src="@{/movies.js}"></script>
</body>
</html>