<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layoutfragments :: head"></head>
<body>
<div th:replace="layouts/layoutfragments :: navbar"></div>

<div class="container">
    <div class="row">
        <form th:action="@{/customer/customers}" th:object="${customer}" method="post"
              class="form-group col-md-4 ml-auto mr-auto">
            <div class="row mt-3 ml-auto mr-auto col-md-12">
                <input type="text" name="socialSecurityNumber" class="form-control" placeholder="Personnummer">
                <input type="text" name="firstName" class="form-control mt-2" placeholder="Förnamn">
                <input type="text" name="lastName" class="form-control mt-2" placeholder="Efternamn">
                <button class="btn btn-success btn-block mt-2" value="Submit">Sök</button>
                <a th:href="@{'/customer/addcustomer'}" class="btn btn-success btn-block mt-2" value="Submit">Lägg till
                    ny kund</a>
                <!--<a th:href="@{/customer/addmovie}" class="btn btn-outline-info btn-block mt-2">Lägg till ny film</a>-->
            </div>
        </form>
    </div>

    <div class="container">
        <table class="table">
            <tr>
                <th scope="col">Personnummer</th>
                <th scope="col">Förnamn</th>
                <th scope="col">Efternamn</th>
                <th scope="col">Adress</th>
                <th scope="col">Postnummer</th>
                <th scope="col">Stad</th>
                <th scope="col">Land</th>
                <th scope="col">Telefonnummer</th>
                <th scope="col">E-mail</th>
            </tr>
            <th:block th:each="customer : ${customers}">
                <tr class="table-row" th:onclick="'showCustomerDetails(\'' + ${customer.socialSecurityNumber}+ '\')'">
                    <td th:text="${customer.socialSecurityNumber}"></td>
                    <td th:text="${customer.firstName}"></td>
                    <td th:text="${customer.lastName}"></td>
                    <td th:text="${customer.address}"></td>
                    <td th:text="${customer.zipCode}"></td>
                    <td th:text="${customer.city}"></td>
                    <td th:text="${customer.country}"></td>
                    <td th:text="${customer.phoneNumber}"></td>
                    <td th:text="${customer.email}"></td>
                </tr>
            </th:block>
        </table>
    </div>
</div>
<div th:replace="layouts/layoutfragments :: javascriptimports"></div>
</body>
</html>