<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/layoutfragments :: head"></head>
<body>
<div th:replace="layouts/layoutfragments :: navbar"></div>
<div class="container mt-4">
    <h2>Försenade Inlämningar</h2>
    <table class="table table-striped table-hover customTable">
        <thead class="thead-dark" id="table_head">
        <tr>
            <th scope="col">Uthyrningsnummer</th>
            <th scope="col">Titel</th>
            <th scope="col">Personnummer</th>
            <th scope="col">Uthyrningsdatum</th>
            <th scope="col">Inlämningsdatum</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="lateMovie : ${lateMovies}">
            <th:block th:each="movieName : ${lateMovie.getMovies()}">
                <tr th:onclick="'showLateRentalDetails(\'' + ${lateMovie.getId()}+ '\')'">
                    <td th:text="${lateMovie.getId()}"></td>
                    <td th:text="${movieName.getName()}"></td>
                    <td th:text="${lateMovie.getCustomer().getSocialSecurityNumber()}"></td>
                    <td th:text="${lateMovie.getRentedDate()}"></td>
                    <td th:text="${lateMovie.getReturnedDate()}"></td>
                </tr>
            </th:block>
        </th:block>
        </tbody>
    </table>

</div>
<div th:replace="layouts/layoutfragments :: javascriptimports"></div>
</body>
</html>
