<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/layoutfragments :: head"></head>
<body>

<div th:replace="layouts/layoutfragments :: navbar"></div>

<div class="container">
    <div class="col-md-6 mt-5 mx-auto alert alert-success">
        <p>Följande filmer har återlämnats:</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Artikelnr</th>
                <th scope="col">Titel</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="movie : ${returnedMovies}">
                <tr>
                    <td th:text="${movie.getProductNumber()}">Artikelnummer</td>
                    <td th:text="${movie.getName()}">Titel</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</div>

<div th:replace="layouts/layoutfragments :: javascriptimports"></div>
</body>
</html>